In [25]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import Binarizer

In [27]:
df = pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]
df.sample(10)

      Age     Fare  SibSp  Parch  Survived
809  33.0  53.1000      1      0         1
513  54.0  59.4000      1      0         1
372  19.0   8.0500      0      0         0
717  27.0  10.5000      0      0         1
749  31.0   7.7500      0      0         0
388   NaN   7.7292      0      0         0
540  36.0  71.0000      0      2         1
308  30.0  24.0000      1      0         0
538   NaN  14.5000      0      0         0
864  24.0  13.0000      0      0         0

In [28]:
df.dropna(inplace=True)

In [29]:
df['Family'] = df['SibSp']+df['Parch']
df.head()

    Age     Fare  SibSp  Parch  Survived  Family
0  22.0   7.2500      1      0         0       1
1  38.0  71.2833      1      0         1       1
2  26.0   7.9250      0      0         1       0
3  35.0  53.1000      1      0         1       1
4  35.0   8.0500      0      0         0       0

In [30]:
df.drop(columns=['SibSp','Parch'], inplace = True)
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [31]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [32]:
X_train,X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [33]:
X_train
y_train

328    1
73     0
253    0
719    0
666    0
      ..
92     0
134    0
337    1
548    0
130    0
Name: Survived, Length: 571, dtype: int64

In [34]:
# Without Binarization 

clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.6293706293706294

In [35]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring= 'accuracy'))

0.6471048513302036

In [39]:
# With Binarization

trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['Family'])
], remainder = 'passthrough')

In [40]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [41]:
pd.DataFrame(X_train_trf,columns=['Family','Age','Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [43]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
p_pred1 = clf.predict(X_test_trf)

In [44]:
accuracy_score(y_test,p_pred1)

0.6013986013986014