In [34]:
import pandas as pd
import numpy as np 
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split

In [35]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [36]:
df.sample(5)

      Age  Pclass   Fare  Survived
199  24.0       2  13.00         0
863   NaN       3  69.55         0
196   NaN       3   7.75         0
497   NaN       3  15.10         0
563   NaN       3   8.05         0

In [37]:
df.isnull().mean()*100

Age         19.86532
Pclass       0.00000
Fare         0.00000
Survived     0.00000
dtype: float64

In [38]:
X = df.iloc[:,:3]
y = df.iloc[:,3:]

In [39]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [40]:
knn = KNNImputer(n_neighbors=3,weights='distance')

In [41]:
X_train_knn = knn.fit_transform(X_train)
X_test_knn = knn.transform(X_test)

In [42]:
lr = LogisticRegression()
lr.fit(X_train_knn,y_train)
y_pred = lr.predict(X_test_knn)
accuracy_score(y_pred,y_test)

c:\Users\Neelesh Yadav\anaconda3\envs\Machine_learning\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7150837988826816

In [59]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_si = si.fit_transform(X_train)
X_test_si = si.transform(X_test)
lr = LogisticRegression()

lr.fit(X_train_si,y_train)

y_pred2 = lr.predict(X_test_si)

accuracy_score(y_test,y_pred2)

0.6927374301675978